<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_v3"
        android:usesCleartextTraffic="false"
        android:label="Trading PnL Journal"
        android:roundIcon="@mipmap/ic_launcher_round_v3"
        android:theme="@style/Theme.TradingJournal">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LauncherV3Activity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_v3"
            android:label="Trading PnL Journal"
            android:roundIcon="@mipmap/ic_launcher_round_v3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
